body{
	margin: 0px 0px;
	font-family: arial;
	font-size: 16px;
	line-height: 2em;
}
.navigator{
	display: flex;
	padding-top: 10px;
	padding-bottom: 10px;
}
.container{
	max-width: 1100px;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}
nav{
	background: white;
}
.nav-right {
	margin-left: auto;
}
.nav-right > ul >li{
	display: inline-flex;
	padding-right: 10px;
	padding-left: 10px;
}
.nav-right >ul >li > a{
	text-decoration: none;
	color: #ed145b;
}
.clear-pink{
    border-width: 5px;
    border-color: #ed145b;
    margin-top: -5px;
    border-style: solid;
    margin-bottom: 0;
}
.bigimage{
	width: 100%;
	margin-top: 0;
}
.background{
	width: 100%;
}
.row{
	display: flex;
}
.col-md-4{
	flex: 33.33%;
	width: 100%;
}
.col-md-6{
	flex: 50%;
	width: 100%;
}
.col-md-6, .col-md-4{
	padding-right: 10px;
	padding-left: 10px;
}
.portofolio-center{
	text-align: center;
}
.largecontent{
	width: 100%;
	min-height: 200px;
	background: #ed145b;
}
section{
	padding-top: 20px;
	padding-bottom: 20px;
}
button{
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.footer{
	background: black;
	color: white;
}